In [2]:
# Importing libraries
import pandas as pd
import numpy as np

# Reading csv file into a pandas dataframe
iris = pd.read_csv("iris.csv")

# Printing out the first few rows of the data
print(iris.head(5))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            NaN           3.6            1.4           0.2  Iris-setosa

In [3]:
# Checking for missing values in each column
print("Missing Values\n")
print("sepal length: " + str(iris["SepalLengthCm"].isnull().sum()))
print("sepal width: " + str(iris["SepalWidthCm"].isnull().sum()))
print("petal length: " + str(iris["PetalLengthCm"].isnull().sum()))
print("petal width: " + str(iris["PetalWidthCm"].isnull().sum()))
print("species: " + str(iris["Species"].isnull().sum()))

Missing Values

sepal length: 3
sepal width: 2
petal length: 2
petal width: 0
species: 0

In [4]:
# Filtering data related to "setosa" Species
setosa_data = iris.loc[iris["Species"] == "Iris-setosa"]

# Checking if setosa sepal length has missing values
print(setosa_data["SepalLengthCm"].isnull().values.any())

True

In [5]:
# Calculating median of setosa sepal length
setosa_SL_median = setosa_data["SepalLengthCm"].median()

print(setosa_SL_median)

5.0

In [6]:
# Checking if setosa sepal width has missing values
print(setosa_data["SepalWidthCm"].isnull().values.any())

False

In [7]:
# Checking if setosa petal length has missing values
print(setosa_data["PetalLengthCm"].isnull().values.any())

True

In [8]:
# Calculating median of setosa petal length
setosa_PL_median = setosa_data["PetalLengthCm"].median()

print(setosa_PL_median)

1.5

In [9]:
# Checking if setosa petal width has missing values
print(setosa_data["PetalWidthCm"].isnull().values.any())

False

In [11]:
pd.set_option('mode.chained_assignment', None)

# Replacing missing values in setosa sepal length column with median
setosa_data["SepalLengthCm"].fillna(setosa_SL_median, inplace=True)

# Replacing missing values in setosa petal length column with median
setosa_data["PetalLengthCm"].fillna(setosa_PL_median, inplace=True)

In [13]:
# Checking if setosa data has missing values
print(setosa_data.isnull().values.any())

False

In [21]:
# Filtering data related to "vernicolor" Species
versicolor_data = iris.loc[iris["Species"] == "Iris-versicolor"]

# Checking if versicolor sepal length has missing values
print(versicolor_data["SepalLengthCm"].isnull().values.any())

False

In [22]:
# Checking if versicolor sepal width has missing values
print(versicolor_data["SepalWidthCm"].isnull().values.any())

True

In [25]:
# Calculating median of versicolor sepal width
versicolor_SW_median = versicolor_data["SepalWidthCm"].median()

print(versicolor_SW_median)

2.8

In [23]:
# Checking if versicolor petal length has missing values
print(versicolor_data["PetalLengthCm"].isnull().values.any())

False

In [24]:
# Checking if versicolor petal width has missing values
print(versicolor_data["PetalWidthCm"].isnull().values.any())

False

In [26]:
# Replacing missing values in versicolor sepal width column with median
versicolor_data["SepalWidthCm"].fillna(versicolor_SW_median, inplace=True)

In [27]:
# Checking if versicolor data has missing values
print(versicolor_data.isnull().values.any())

False

In [29]:
# Filtering data related to "virginica" Species
virginica_data = iris.loc[iris["Species"] == "Iris-virginica"]

# Checking if virginica sepal length has missing values
print(virginica_data["SepalLengthCm"].isnull().values.any())

True

In [30]:
# Calculating median of virginica sepal length
virginica_SL_median = virginica_data["SepalLengthCm"].median()

print(virginica_SL_median)

6.5

In [32]:
# Checking if virginica sepal width has missing values
print(virginica_data["SepalWidthCm"].isnull().values.any())

True

In [33]:
# Calculating median of virginica sepal width
virginica_SW_median = virginica_data["SepalWidthCm"].median()

print(virginica_SW_median)

3.0

In [34]:
# Checking if virginica petal length has missing values
print(virginica_data["PetalLengthCm"].isnull().values.any())

True

In [35]:
# Calculating median of virginica petal length
virginica_PL_median = virginica_data["PetalLengthCm"].median()

print(virginica_PL_median)

5.5

In [36]:
# Checking if virginica petal width has missing values
print(virginica_data["PetalWidthCm"].isnull().values.any())

False

In [38]:
# Replacing missing values in virginica sepal length column with median
virginica_data["SepalLengthCm"].fillna(virginica_SL_median, inplace=True)

# Replacing missing values in virginica sepal width column with median
virginica_data["SepalWidthCm"].fillna(virginica_SW_median, inplace=True)

# Replacing missing values in virginica petal length column with median
virginica_data["PetalLengthCm"].fillna(virginica_PL_median, inplace=True)

In [40]:
# Checking if virginica data has missing values
print(virginica_data.isnull().values.any())

False

In [53]:
# Removing the word "Iris" from Species column to avoid repetition
setosa_data = setosa_data.replace("Iris-setosa", "setosa")
versicolor_data = versicolor_data.replace("Iris-versicolor", "versicolor")
virginica_data = virginica_data.replace("Iris-virginica", "virginica")

# Checking that "Iris" is removed
print(setosa_data.head(5))
print("*************************************************************************")
print(versicolor_data.head(5))
print("*************************************************************************")
print(virginica_data.head(5))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa
*************************************************************************
    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
50  51            7.0           3.2            4.7           1.4  versicolor
51  52            6.4           3.2            4.5           1.5  versicolor
52  53            6.9           3.1            4.9           1.5  versicolor
53  54            5.5           2.3            4.0           1.3  versicolor
54  55            6.5           2.8            4.6           1.5  versicolor
*************************************************************************
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
100  101            6.3           3.3            6.0           2.5  virginica
101  102            5.8           2.7            5.1           1.9  virginica
102  103            7.1           3.0            5.9           2.1  virginica
103  104            6.3           2.9            5.6           1.8  virginica
104  105            6.5           3.0            5.8           2.2  virginica

In [102]:
# Stacking the dataframes of all three species and updating iris dataframe with changes

temporary_df = np.vstack((setosa_data, versicolor_data))
complete_df = np.vstack((temporary_df, virginica_data))

df = pd.DataFrame(data=complete_df, 
                  columns=["Id", "Sepal_length(mm)", "Sepal_width(mm)", "Petal_length(mm)", "Petal_width(mm)", "Species"])
iris = df

print(iris)

      Id Sepal_length(mm) Sepal_width(mm) Petal_length(mm) Petal_width(mm)  \
0      1              5.1             3.5              1.4             0.2
1      2              4.9               3              1.4             0.2
2      3              4.7             3.2              1.3             0.2
3      4              4.6             3.1              1.5             0.2
4      5                5             3.6              1.4             0.2
..   ...              ...             ...              ...             ...
145  146              6.5               3              5.2             2.3
146  147              6.3             2.5                5             1.9
147  148              6.5               3              5.2               2
148  149              6.2             3.4              5.4             2.3
149  150              5.9               3              5.1             1.8

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 6 columns]

In [103]:
# Converting length values from cm to mm and data type from float to int for better readability

iris["Sepal_length(mm)"] = iris["Sepal_length(mm)"].apply(lambda x: x * 10)
iris["Sepal_width(mm)"] = iris["Sepal_width(mm)"].apply(lambda x: x * 10)
iris["Petal_length(mm)"] = iris["Petal_length(mm)"].apply(lambda x: x * 10)
iris["Petal_width(mm)"] = iris["Petal_width(mm)"].apply(lambda x: x * 10)

iris["Sepal_length(mm)"] = iris["Sepal_length(mm)"].astype(int)
iris["Sepal_width(mm)"] = iris["Sepal_width(mm)"].astype(int)
iris["Petal_length(mm)"] = iris["Petal_length(mm)"].astype(int)
iris["Petal_width(mm)"] = iris["Petal_width(mm)"].astype(int)

iris

,Id,Sepal_length(mm),Sepal_width(mm),Petal_length(mm),Petal_width(mm),Species
0,1,51,35,14,2,setosa
1,2,49,30,14,2,setosa
2,3,47,32,13,2,setosa
3,4,46,31,15,2,setosa
4,5,50,36,14,2,setosa
...,...,...,...,...,...,...
145,146,65,30,52,23,virginica
146,147,63,25,50,19,virginica
147,148,65,30,52,20,virginica
148,149,62,34,54,23,virginica
149,150,59,30,51,18,virginica

In [113]:
# Adding a new column which contains the sum of all lengths and widths of each flower

iris["Dimension_sum"] = iris.iloc[:, 1:6].sum(axis = 1)

# Moving Dimention_sum before Species
cols = list(iris.columns.values)
iris = iris[cols[0:5] + [cols[-1]] + [cols[-2]]]

iris

,Id,Sepal_length(mm),Sepal_width(mm),Petal_length(mm),Petal_width(mm),Dimension_sum,Species
0,1,51,35,14,2,102,setosa
1,2,49,30,14,2,95,setosa
2,3,47,32,13,2,94,setosa
3,4,46,31,15,2,94,setosa
4,5,50,36,14,2,102,setosa
...,...,...,...,...,...,...,...
145,146,65,30,52,23,170,virginica
146,147,63,25,50,19,157,virginica
147,148,65,30,52,20,167,virginica
148,149,62,34,54,23,173,virginica
149,150,59,30,51,18,158,virginica

In [119]:
iris.to_csv("modified_iris.csv", index = False)